.color-empty {
    fill: #ffffff;
}
.color-scale-1 {
    fill: #35ff67;
}
.color-scale-2 {
    fill: #1dff55;
}
.color-scale-3 {
    fill: #17ff3a;
}
.color-scale-4 {
    fill: #12ff98;
}
.color-scale-5 {
    fill: #0fff97;
}
.color-scale-6 {
    fill: #0bff95;
}
.color-scale-7 {
    fill: #00ff91;
}
.color-scale-8 {
    fill: #01ef88;
}
.color-scale-9 {
    fill: #00de7e;
}
.color-scale-10 {
    fill: #01d679;
}
.color-scale-11 {
    fill: #01b065;
}
.color-scale-12 {
    fill: #009d59;
}
.color-scale-13 {
    fill: #00ff88; 
}
